* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $text-font;
}
.row {
  --bs-gutter-x: 0;
  gap: 3em;
}
.btn {
  border: 0.25em solid $shadow-color;
  padding: 0.75em 2em;
  color: $shadow-color;
  font-family: $main-font;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: $black-color;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 5px $shadow-color, 0 0 15px $shadow-color,
    0 0 30px $shadow-color, 0 0 50px $shadow-color;
  text-shadow: 0 0 0.5em $shadow-color;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: $white-color;
    border: 0.25em solid $white-color;
    background-color: $black-color;
    box-shadow: 0 0 5px $white-color, 0 0 15px $white-color,
      0 0 30px $white-color, 0 0 50px $white-color;
    text-shadow: 0 0 0.5em $white-color;
  }
}
.btn__form {
  @extend .btn;
  margin-top: 0.4em;
  padding: 0.75em 2.5em;
  font-size: 15px;
}

.section__title > h2 {
  @include subtitle;
}
/*clase main*/
.main {
  background-image: url(../images/fondo.jpg);
  background-position: center;
  color: $white-color;
  background-color: $black-color;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*comienzo gif*/
.gif {
  height: 100vh;
  background-image: url(../images/Humo.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-family: $main-font;
    font-weight: 900;
    font-size: 6.25em;
    letter-spacing: 6vw;
    text-transform: uppercase;
    color: $white-color;
    text-shadow: 0 0 5px $shadow-color, 0 0 15px $shadow-color,
      0 0 30px $shadow-color, 0 0 50px $shadow-color;
  }
}
