/*comienzo de footer*/
.footer {
  width: 100%;
  background-color: $black-color;
  height: fit-content;
  padding: 0.7em;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  p {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 2vw;
    margin-bottom: 0;
  }

  ul {
    justify-content: space-around;
    gap: 3vw;
    margin-bottom: 0;
  }

  & ul a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

  & .subList li a:hover,
  & p:hover {
    color: $white-color;
    transition: all 0.3s;
  }

  @include responsive(tablet) {
    font-size: 0.75em;
    color: $white-color;
  }
}
/*fin de footer*/
