/*seccion music*/
.grid__music {
  gap: 5em;
}
.disc {
  margin-right: 5em;
  width: 95%;
  gap: 5em;

  .seccion__iframe iframe {
    width: 18.5em;
    height: 18.5em;
    border-radius: 12px;
    box-shadow: 0 0 15px $white-color;

    @include responsive(tablet) {
      width: 15em;
      height: 15em;
    }
    @include responsive(smartphone) {
      width: 14em;
      height: 14em;
    }
  }

  .seccion__cover img {
    width: 18.5em;
    height: 18.5em;
    box-shadow: 0px 0px 15px $white-color;
    border-radius: 12px;

    @include responsive(tablet) {
      display: none;
    }
  }
}

/*fin seccion music*/
