$shadow-color: #d7cdb3; //titulos
$secondary-shadow-color: #ff0000; //subtitulos
$gradient-color: #630302; //background cajas
$secondary-gradient-color: #990000; //background cajas
$white-color: #ffffff; // sombras y letras
$black-color: #000000; // sombras y bordes
$footer-color: #1b1615; //color footer
$main-font: "Poiret One", cursive; //fuente principal
$text-font: "Exo 2", sans-serif; //fuente de textos
//mixin de subtitulo
@mixin subtitle() {
  text-align: center;
  font-family: $main-font;
  font-weight: 900;
  font-size: 3.15em;
  margin: 2em 0;
  animation: flicker 1.5s infinite alternate;
  color: $white-color;
  @keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 4px $white-color, 0 0 11px $white-color,
        0 0 19px $white-color, 0 0 40px $secondary-shadow-color,
        0 0 80px $secondary-shadow-color, 0 0 90px $secondary-shadow-color,
        0 0 100px $secondary-shadow-color, 0 0 150px $secondary-shadow-color;
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }
}
