$shadow-color: #d7cdb3; //titulos
$secondary-shadow-color: #ff0000; //subtitulos
$gradient-color: #630302; //background cajas
$secondary-gradient-color: #990000; //background cajas
$white-color: #ffffff; // sombras y letras
$black-color: #000000; // sombras y bordes
$main-font: "Poiret One", cursive;
