* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.btn {
  border: 0.25em solid #d7cdb3;
  padding: 0.75em 2em;
  color: #d7cdb3;
  font-family: "Poiret One";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: #000000;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 5px #d7cdb3, 0 0 15px #d7cdb3, 0 0 30px #d7cdb3,
    0 0 50px #d7cdb3;
  text-shadow: 0 0 0.5em #d7cdb3;
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  color: #ffffff;
  border: 0.25em solid #ffffff;
  background-color: #000000;
  box-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff,
    0 0 50px #ffffff;
  text-shadow: 0 0 0.5em #ffffff;
}
form > .btn {
  margin-top: 0.75em;
  padding: 0.75em 1.5em;
  font-size: 13px;
}
.navbar {
  position: fixed;
  width: 100%;
  font-family: "Poiret One";
  background-color: #000;
  opacity: 0.6;
  font-size: 1.2em;
  grid-area: navBar;
}
.navbar-brand {
  width: 11vw;
  height: 9.5vh;
  margin: 0 2em;
  display: flex;
  align-items: center;
}
.logo {
  width: 12em;
  height: 6em;
}
.navbar-nav {
  align-items: center;
}
.navbar-nav > .nav-item > .nav-link {
  padding: 0.5em 2em;
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.2em;
  font-weight: bolder;
}
.navbar-toggler {
  border: none;
}
/*fin de barra de navegacion*/
/*comienzo de footer*/
.footer {
  width: 100%;
  background-color: #1b1615;
  color: #5b5350;
  height: fit-content;
  padding: 0.7em;
  display: flex;
  align-items: center;
}
.footer p {
  margin-left: 2vw;
  margin-bottom: 0;
}
.footer ul {
  justify-content: space-around;
  gap: 3vw;
  margin-bottom: 0;
}
.footer ul a {
  color: #5b5350;
  text-decoration: none;
}
.footer .subList li a:hover,
.footer p:hover {
  color: #fff;
  transition: all 0.3s;
}
/*fin de footer*/
.main {
  background-image: url(../images/fondo.jpg);
  background-position: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*comienzo gif*/
.gif {
  height: 100vh;
  background-image: url(../images/Humo.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif h1 {
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 6.25em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #d7cdb3, 0 0 15px #d7cdb3, 0 0 30px #d7cdb3,
    0 0 50px #d7cdb3;
}
/*fin gif*/
/*comienzo seccion banda*/
.row {
  gap: 3em;
}
.section__title > h2 {
  text-align: center;
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 3.15em;
  padding: 2em;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f00,
      0 0 80px #f00, 0 0 90px #f00, 0 0 100px #f00, 0 0 150px #f00;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.band {
  display: flex;
  gap: 0.5em;
}
.band img {
  border-radius: 1em;
  box-shadow: 0 0 1em #ffffff;
}
.iframe {
  border-radius: 1em;
  box-shadow: 0 0 1em #ffffff;
  padding: 0%;
}
.iframe > iframe {
  border-radius: 1em;
  height: 25em;
}
.form {
  width: 50%;
  border: solid 1px #000;
  border-radius: 1em;
  background: linear-gradient(90deg, #630302, #990000, #630302);
  color: #ffffff;
  font-size: 1.2em;
  padding: 20px;
  margin-bottom: 3em;
  box-shadow: 0px 0px 15px white;
}
/*seccion galeria*/
.grid {
  width: 100%;
}
.gridImg {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}
.gridImg img {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #630302, #990000, #630302);
  border-radius: 0.5em;
  box-shadow: 0 0 1em #ffffff;
  padding: 1em;
  transition: all 300ms;
  cursor: pointer;
}
.gridImg img:hover {
  transform: scale(1.15);
}
/*seccion tour*/
.seccion {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city > h2,
.city > p,
.date > h2,
.date > p {
  text-shadow: 0 0 5px #000, 0 0 15px #000, 0 0 30px #000, 0 0 50px #000;
}
.city {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px white;
}
.flagGB {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAlm9ol2RhbVfuuqE8o5tyysEI0ykFodKdTg&usqp=CAU);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flagIR {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/570/376/42/flag-ireland-wallpaper-preview.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flagFR {
  background-image: url(../images/brazil.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.date {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px white;
}
/*seccion music*/
.grid__music {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "opiate  ."
    ".   undertow"
    "aenima  ."
    ". lateralus"
    "days  ."
    ".  fear";
  gap: 10em;
}
.disc {
  display: flex;
  gap: 10em;
}
.opiate {
  grid-area: opiate;
}
.undertow {
  grid-area: undertow;
}
.aenima {
  grid-area: aenima;
}
.lateralus {
  grid-area: lateralus;
}
.days {
  grid-area: days;
}
.fear {
  grid-area: fear;
}
.disc .seccion__iframe iframe {
  width: 18.5em;
  height: 18.5em;
  border-radius: 12px;
  box-shadow: 0 0 15px #ffffff;
}
.seccion__cover img {
  width: 18.5em;
  height: 18.5em;
  box-shadow: 0px 0px 15px #ffffff;
  border-radius: 12px;
}
/*fin seccion music*/
/*seccion merch*/
.flex__merch {
  display: flex;
  justify-content: space-evenly;
  gap: 5em;
}
.div__merch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 1em;
}
.div__merch img {
  box-shadow: 0 0 15px #ffffff;
}
/*fin seccion merch*/
/*seccion media queries*/
/*Laptop*/
@media only screen and (max-width: 1366px) {
  .grid__music {
    display: flex;
    flex-direction: column;
    gap: 15em;
  }
}
/* tablets and smartphones */
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .seccion__titulo,
  h1 {
    font-size: 1.5em;
    text-align: center;
  }
  /*navbar*/
  .navBar {
    height: 22.6vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.6vw;
    padding: 1vw;
  }
  .containerLogo img {
    height: 100%;
    width: 30vw;
  }
  .list li,
  .list li a {
    text-align: center;
    width: 20vw;
  }
  /*fin navbar*/
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion__img {
    font-size: 1em;
  }
  .seccion__banda,
  .seccion__iframe,
  .seccion__community {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion__img {
    width: 75vw;
    padding-bottom: 1em;
  }
  .seccion__parrafo {
    text-align: justify;
    font-size: 1.1em;
    width: 75vw;
  }
  .footer {
    font-size: 0.6em;
  }
  .form {
    font-size: 0.75em;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .seccion {
    flex-direction: column;
  }
  /*seccion music*/
  .grid__music {
    display: flex;
    flex-direction: column;
  }
  .seccion__cover {
    display: none;
  }
  /*seccion merch*/
  .flex__merch {
    flex-direction: column;
  }
}
