/*fuente*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Poiret+One&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Exo 2", sans-serif; }

.row {
  --bs-gutter-x: 0;
  gap: 3em; }

.btn, .btn__form {
  border: 0.25em solid #d7cdb3;
  padding: 0.75em 2em;
  color: #d7cdb3;
  font-family: "Poiret One", cursive;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: #000000;
  border-radius: 1em;
  outline: none;
  transition: all 0.3s;
  cursor: pointer; }
  .btn:hover, .btn__form:hover {
    color: #ffffff;
    border: 0.25em solid #ffffff;
    background-color: #000000;
    box-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 30px #ffffff, 0 0 50px #ffffff;
    text-shadow: 0 0 0.5em #ffffff; }
  .btn:active, .btn__form:active {
    box-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 45px #ffffff, 0 0 65px #ffffff;
    text-shadow: 0 0 0.8em #ffffff; }

.btn__form {
  margin-top: 0.4em;
  padding: 0.75em 2.5em;
  font-size: 15px; }

.section__title > h2 {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-weight: 900;
  font-size: 3.15em;
  margin: 2em 0;
  animation: flicker 1.5s infinite alternate;
  color: #ffffff; }

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #ffffff, 0 0 11px #ffffff, 0 0 19px #ffffff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000; }
  20%,
  24%,
  55% {
    text-shadow: none; } }

/*clase main*/
.main {
  background-image: url(../images/fondo.jpg);
  background-position: center;
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: column; }

/*comienzo gif*/
.gif {
  height: 100vh;
  background-image: url(../images/Humo.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .gif h1 {
    display: flex;
    font-family: "Poiret One", cursive;
    color: #ffffff;
    font-size: 6.25em;
    text-shadow: 0 0 5px #d7cdb3, 0 0 15px #d7cdb3, 0 0 30px #d7cdb3, 0 0 50px #d7cdb3; }
    .gif h1 ul {
      display: flex;
      gap: 5vw;
      padding: 0; }
      .gif h1 ul li {
        font-family: "Poiret One", cursive;
        font-weight: 900;
        animation: fade-in 1.5s linear; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    @media (max-width: 400px) {
      .gif h1 {
        font-size: 4em; } }

/*seccion navbar*/
.navbar {
  position: fixed;
  width: 100%;
  font-family: "Poiret One", cursive;
  background-color: #000000;
  opacity: 0.61;
  font-size: 1.2em;
  z-index: 100; }
  .navbar-brand {
    width: 11vw;
    height: 9.5vh;
    margin: 0 2em;
    display: flex;
    align-items: center; }
  .navbar .logo {
    width: 12em;
    height: 6em; }
    @media (max-width: 767px) {
      .navbar .logo {
        width: 8em;
        height: 4em; } }
  .navbar-nav {
    align-items: center; }
  .navbar-nav > .nav-item > .nav-link {
    font-family: "Poiret One", cursive;
    padding: 0.5em 2em;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.2em;
    font-weight: bolder; }
  .navbar-toggler {
    border: none; }
  @media (max-width: 767px) {
    .navbar {
      opacity: 1;
      color: #ffffff; } }

/*fin seccion navbar*/
/*comienzo seccion banda*/
.title {
  text-align: center;
  color: #ffffff;
  font-size: 6.25em;
  text-shadow: 0 0 5px #d7cdb3, 0 0 15px #d7cdb3, 0 0 30px #d7cdb3, 0 0 50px #d7cdb3; }
  .title ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw; }
    .title ul li {
      font-family: "Poiret One", cursive;
      font-weight: 900; }
      .title ul li:nth-child(odd) {
        transform-origin: left top;
        animation: Odd 1.5s linear; }
      .title ul li:nth-child(even) {
        transform-origin: left top;
        animation: Even 1.5s linear; }

@keyframes Odd {
  from {
    transform: translateY(60px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes Even {
  from {
    transform: translateY(-60px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

.band {
  display: flex;
  gap: 0.5em; }
  .band img {
    border-radius: 1em;
    box-shadow: 0 0 1em #ffffff; }

.bandInfo p {
  text-align: justify; }

/*seccion checkout*/
.iframe {
  border-radius: 1em;
  box-shadow: 0 0 1em #ffffff;
  padding: 0%; }
  .iframe iframe {
    border-radius: 1em;
    height: 25em; }

/*seccion community*/
.form {
  max-width: 80%;
  min-width: 50%;
  max-height: 510px;
  border: solid 1px #000000;
  border-radius: 1em;
  background: linear-gradient(90deg, #630302, #990000, #630302);
  color: #ffffff;
  font-size: 1.2em;
  padding: 20px;
  margin-bottom: 3em;
  box-shadow: 0px 0px 15px #ffffff; }

/*seccion tour*/
.city, .date {
  width: 28.125em;
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px #ffffff;
  border-radius: 0.51em; }
  .city p, .date p,
  .city h2,
  .date h2 {
    text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 30px #000000, 0 0 50px #000000; }

.date {
  background-image: url(../images/black-concrete-wall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.flagGB, .flagIR, .flagFR {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAlm9ol2RhbVfuuqE8o5tyysEI0ykFodKdTg&usqp=CAU);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.flagIR {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/570/376/42/flag-ireland-wallpaper-preview.jpg); }

.flagFR {
  background-image: url(../images/brazil.png); }

/*seccion music*/
.grid__music {
  gap: 5em; }

.disc {
  margin-right: 5em;
  width: 95%;
  gap: 5em; }
  .disc .seccion__iframe iframe {
    width: 18.5em;
    height: 18.5em;
    border-radius: 12px;
    box-shadow: 0 0 15px #ffffff; }
    @media (max-width: 767px) {
      .disc .seccion__iframe iframe {
        width: 15em;
        height: 15em; } }
    @media (max-width: 400px) {
      .disc .seccion__iframe iframe {
        width: 14em;
        height: 14em; } }
  .disc .seccion__cover img {
    width: 18.5em;
    height: 18.5em;
    box-shadow: 0px 0px 15px #ffffff;
    border-radius: 12px; }
    @media (max-width: 767px) {
      .disc .seccion__cover img {
        display: none; } }

/*fin seccion music*/
/*seccion galeria*/
.gridImg {
  width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  background: linear-gradient(90deg, #630302, #990000, #630302);
  border-radius: 0.5em;
  box-shadow: 0 0 1em #ffffff;
  padding: 1em; }
  .gridImg img {
    position: absolute;
    border-radius: 0.5em; }
  .gridImg .infoImg {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    background: #000;
    opacity: 0;
    z-index: 1;
    transition: all 300ms;
    cursor: pointer; }
  .gridImg .infoImg:hover {
    opacity: 0.7; }

/*seccion merch*/
.div__merch {
  width: min-content;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 30px #000000, 0 0 50px #000000;
  box-shadow: 0px 0px 15px #ffffff;
  border-radius: 1em;
  transition: all 300ms;
  background: linear-gradient(90deg, #630302, #990000, #630302); }
  .div__merch:hover {
    transform: scale(1.1); }
  .div__merch img {
    width: 200px;
    height: 200px;
    border-radius: 0.51em;
    box-shadow: 0 0 15px #ffffff; }
  .div__merch span {
    margin-bottom: -5px; }
  .div__merch p {
    margin-top: 10px;
    font-size: 25px; }

/*fin seccion merch*/
/*comienzo de footer*/
.footer {
  width: 100%;
  background-color: #000000;
  height: fit-content;
  padding: 0.7em;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3); }
  .footer p {
    color: rgba(255, 255, 255, 0.6);
    margin-left: 2vw;
    margin-bottom: 0; }
  .footer ul {
    justify-content: space-around;
    gap: 3vw;
    margin-bottom: 0; }
    .footer ul .icon {
      cursor: pointer; }
    .footer ul .fa-facebook-f,
    .footer ul .fa-instagram,
    .footer ul .fa-twitter {
      color: #999999;
      filter: drop-shadow(0px 0px 10px #555555);
      transition: all 300ms; }
    .footer ul .fa-facebook-f:hover,
    .footer ul .fa-instagram:hover,
    .footer ul .fa-twitter:hover {
      color: #ffffff;
      filter: drop-shadow(0px 0px 10px #FFFFFF); }
  @media (max-width: 767px) {
    .footer {
      font-size: 0.75em;
      color: #ffffff; } }

/*fin de footer*/
